aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.6.0
async-timeout==4.0.3
attrs==23.1.0
blinker==1.6.3
blis==0.7.11
catalogue==2.0.10
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
cipher==0.1
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
confection==0.1.3
configparser==4.0.2
cryptography==41.0.4
curated-tokenizers==0.0.8
curated-transformers==0.1.1
cymem==2.0.8
datasets==2.14.5
dill==0.3.7
distlib==0.3.7
dnspython==2.4.2
docopt==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl#sha256=6215d71a3212690e9aec49408a27e3fe6ad7cd6c715476e93d70dc784041e93e
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.2/en_core_web_trf-3.7.2-py3-none-any.whl#sha256=dd56d80640411c2e81c3b0cfcb6068156a459c259ae11a4ea51c625c751e3e0a
filelock==3.12.4
Flask==3.0.0
frozenlist==1.4.0
fsspec==2023.6.0
hexdump==3.3
huggingface-hub==0.17.3
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
langcodes==3.3.0
MarkupSafe==2.1.3
more-itertools==5.0.0
motor==3.3.1
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.10
mysql-connector-python==8.1.0
networkx==3.1
numpy==1.25.2
packaging==23.2
pandas==2.0.3
pathy==0.10.2
pdfminer.six==20220524
pipenv==2023.9.8
platformdirs==3.10.0
preshed==3.0.9
protobuf==4.21.12
py-pdf-parser==0.11.0
pyarrow==13.0.0
pycparser==2.21
pycryptodome==3.18.0
pycryptodome-test-vectors==1.0.13
pydantic==2.4.2
pydantic_core==2.10.1
pymongo==4.5.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
python-evtx==0.7.4
pytz==2023.3
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
safetensors==0.4.0
six==1.16.0
smart-open==6.4.0
spacy==3.7.1
spacy-alignments==0.9.1
spacy-curated-transformers==0.2.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-transformers==1.3.2
srsly==2.4.8
sympy==1.12
thinc==8.2.1
tokenizers==0.14.1
torch==2.1.0
tqdm==4.66.1
transformers==4.34.0
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.4
virtualenv==20.24.5
virtualenvwrapper-win==1.2.7
Wand==0.6.10
wasabi==1.1.2
weasel==0.3.3
Werkzeug==3.0.0
xxhash==3.4.1
yarl==1.9.2
zipp==1.0.0
